/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* @import 'themify-icons/themify-icons'; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;
}

button:focus {
    outline: 0px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

p {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1;
}

.clr {
    clear: both;
}





/* section head style */

.section_head {}

.section_head h5 {
    color: #878787;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.section_head h2 {
    color: #111111;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.section_head p {
    color: #6b7280;
    font-size: 14px;
    font-weight: 400;
}



/* End of common CSS */

/*=========================

    01.HEADER AREA CSS

=========================*/
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    padding: 0;
}
.header_area {
    padding: 0;
    border-bottom: 1px solid #dddddd;
}
.header_area .navbar{
    padding: 0;
    margin: 0;
}
.header_area .navbar .navbar-nav .nav-item .nav-link{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    padding: 14px 10px;
}
.header_area .navbar .navbar-nav.last_bar .nav-item .nav-link{
    text-transform: none;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    padding: 8px 24px;
    border-radius: 50px;
}
.header_area .navbar .navbar-nav.last_bar .nav-item .nav-link:hover{
    background: #f6783a;
    color: #ffffff;
    transition: all .5s linear;
}
.header_area .navbar .navbar-nav .nav-item .nav-link:hover{
    background: #f67831;
    transition: all .5s linear;
}
/*=========================

    02.SERVICE AREA CSS

=========================*/
.service_area{
    margin-bottom: 80px;
}
.service_area .service_content h2{
    font-size: 24px;
}
.service_area .service_content h2 br{
    display: none;
}
.service_area .service_content ul{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.service_area .service_content ul li{
    padding: 4px 16px;
    border: 1px solid #f6783a;
    border-radius: 45px;
    margin-bottom: 10px;
    color: #374151;
    width: fit-content;
}
.service_area .service_content ul li i{
    color: #f6783a;
}
.service_area .service_content ul li span{
    padding-left: 5px;
}
.service_area .service_content a{
    text-decoration: none;
    width: 250px;
    text-align: center;
    margin: 20px 0;
    display: block;
    padding: 15px 36px;
    background: #f6783a;
    border-radius: 45px;
    color: #ffffff;
}
/*=========================

    03.PROCESS AREA CSS

=========================*/
.process_area{
    padding: 50px 0;
}
.process_area .process_counter{
    background: #f6783a;
    margin-top: 30px;
}
.process_area .process_counter .single_counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #ffffff;
    padding: 30px 0;
}
.process_area .process_counter .single_counter .counter_txt{
    margin-left: 20px;
}
.process_area .process_counter .single_counter h2{
    margin: 0;
    font-size: 48px;
}
.process_area .process_counter .single_counter p {
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
}
/*=========================

    04.TESTIMONIALS AREA CSS

=========================*/
.testimonials_area .testimonial_slider{
    margin: 40px 0;
}
.testimonials_area .testimonial_slider .single_slider{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0 15px;
}
.testimonials_area .testimonial_slider .single_slider img {
    width: 100px;
    height: 80px;
    border-radius: 50%;
}
.testimonials_area .testimonial_slider .single_slider .slider_txt {
    padding-left: 10px;
}
.testimonials_area .testimonial_slider .single_slider .slider_txt h2{
    font-size: 24px;
    color: #111111;
}
.testimonials_area .testimonial_slider .single_slider .slider_txt p{
    font-size: 16px;
    font-weight: 400;
    color: #6b7289;
}
/*=========================

   05.FOOTER AREA CSS

=========================*/
.footer_area{
    background: #333333;
    padding: 40px 0;
    padding-bottom: 0;
}
.footer_area .footer_first p {
    font-size: 16px;
    color: #6b7280;
    margin-top: 16px;
    padding-right: 70px;
}
.footer_area .footer_first .add{
    display: flex;
    flex-direction: row;
    align-items: start;
}
.footer_area .footer_first .add i {
    color: rgb(246, 120, 58);
    font-weight: bold;
    font-size: 30px;
    padding-right: 10px;
}
.footer_area .footer_first .social_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.footer_area .footer_first .social_link i{
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: #f6783a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.footer_area .footer_second h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
    margin-top: 20px;
}

.footer_area .footer_second ul{
    margin: 0;
    padding: 0;
}
.footer_area .footer_second li {
    margin-bottom: 10px;
}
.footer_area .footer_second li a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;

}
.footer_area .footer_third h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
    margin-top: 20px;
}

.footer_area .footer_third ul{
    margin: 0;
    padding: 0;
}
.footer_area .footer_third li {
    margin-bottom: 10px;
}
.footer_area .footer_third li a {
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.footer_area .footer_third li a i{
    color: #f6783a;
    font-size: 18px;
    padding-right: 10px;
}
.footer_area .footer_forth h4 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
    margin-top: 20px;
}
.footer_area .footer_forth p{
    color: #6b7280;
    font-size: 16px;
    font-weight: 400;
}
.footer_area .footer_forth form{
    width: 100%;
}
.footer_area .footer_forth .mail{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_area .footer_forth .mail input {
    border: 1px solid #f6783a;
    border-radius: 2px 0 0 2px;
    width: 70%;
    padding: 5px 10px;
}
.footer_area .footer_forth .mail button {
    text-decoration: none;
    background: #f6783a;
    border-radius: 0 2px 2px 0;
    color: #ffffff;
    border: 1px solid #f6783a;
    padding: 5px 10px;
}
.footer_area .footer_end{
    background: #f6783a;
    padding: 10px 0;
    color: #ffffff;
}
.footer_area .footer_end .credit a{
    text-decoration: none;
    color: #ffffff;

}

/*=========================

=========================*/

    /* BLOG PAGE */

/*=========================

=========================*/
.blog_area{
    padding: 60px 0;
}
.blog_area .blog_wrap .single_blog {
    border: 1px solid #dddddd;
    margin-bottom: 30px;
}
.blog_area .blog_wrap .single_blog .blog_txt {
    padding: 20px 15px;
}
.blog_area .blog_wrap .single_blog h4 {
    font-size: 16px;
    font-weight: 400;
    color: #6b7289;
    padding-bottom: 10px;
}
.blog_area .blog_wrap .single_blog p{
    font-size: 16px;
    font-weight: 400;
    color: #6b7289;
}
.blog_area .blog_wrap .single_blog span{
    font-weight: 600;
}

/*=========================

=========================*/

    /* TUTORIAL PAGE */

/*=========================

=========================*/
.tutorials_area{
    padding: 60px 0;
}
.tutorials_area .tutorial_wrap{
    padding: 30px 0;
    padding-bottom: 80px;
}
.tutorials_area .tutorial_wrap .single_tutorial {
    margin-bottom: 20px;
}
.tutorials_area .tutorial_wrap .single_tutorial iframe {
    border: 0;
    width: 100%;
    height: 300px;
    border-radius: 12px;
}
.tutorials_area .tutorial_wrap .single_tutorial h3{
    font-size: 18px;
    margin-top: 16px;
    text-transform: capitalize;
}

/*=========================

=========================*/

    /* INFORMATION PAGE */

/*=========================

=========================*/
.information_area{
    padding: 60px 0;
}
.information_area .information_wrap .single_information {
    margin-left: 60px;
    border: 1px solid #f6783a;
    margin-bottom: 20px;
}
.information_area .information_wrap span {
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    background: #f6783a;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;
}
.information_area .information_wrap p {
    position: relative;
    margin: 0;
}
.information_area .information_wrap p span{
    position: absolute;
    top: 0;
    left: -60px;
}
.information_area .information_wrap p a.btn-primary {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: #000000;
    border-radius: 0;
}
.information_area .information_wrap p a.btn:focus{
    outline: none;
}
.information_area .information_wrap a[aria-expanded="false"] .fa-angle-down{
    display: inline-block;
}
.information_area .information_wrap a[aria-expanded="false"] .fa-angle-up{
    display: none;
}
.information_area .information_wrap a[aria-expanded="true"] .fa-angle-down{
    display: none;
}
.information_area .information_wrap a[aria-expanded="true"] .fa-angle-up{
    display: inline-block;
}
.information_area .information_wrap .single_information .collapse{
    border: none;
    color: #000000;
    border-radius: 0;
    border-top: 1px solid #f6783a;
}
.information_area .information_wrap .single_information .collapse .card {
    background: #fde4d8;
    border-radius: 0;
}
/* .information_area .information_wrap .single_information:after {
    position: absolute;
    content: '';
    height: calc(100% - 45px);
    left: 20px;
    top: 48px;
    border-left: 1px dashed #6c6e70;
} */

/*=========================

=========================*/

    /* CONTACT PAGE */

/*=========================

=========================*/
.contact_area{
    padding: 60px 0;
}
.contact_area .contact_wrap .address{
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 19px 0px;
    padding: 20px;
    margin-bottom: 30px;
}
.contact_area .contact_wrap .address p{
    margin: 0;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #6b7280;
}
.contact_area .contact_wrap .form{
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 19px 0px;
    padding: 20px;
}
.contact_area .contact_wrap .form p{
    font-size: 20px;
    font-weight: 600;
}
.contact_area .contact_wrap .form button {
    background: #f6783a;
    color: #ffffff;
    font-size: 16px;
    border: none;
    padding: 10px 25px;
}
.contact_area .contact_wrap .form form .form-group{
    margin-bottom: 20px;
}
.contact_area .contact_wrap .form form .form-group label{
    padding-bottom: 10px;
}

/*=========================

=========================*/

    /* LOGIN PAGE */

/*=========================

=========================*/
.login_area{
    padding: 60px 0;
}
.login_area .login_form .form {
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 19px 0px;
    padding: 40px 20px;
}
.login_area .login_form .form h4{
    text-align: center;
    margin: 0;
    font-size: 15px;
    color: #6b7280;

}
.login_area .login_form .form p{
    text-align: center;
    margin: 0;
    font-size: 12px;
    color: #6b7280;
    font-weight: 600;
}
.login_area .login_form .form form{
    margin-top: 20px;
}
.login_area .login_form .form form .wrap_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.login_area .login_form .form form .form-group{
    margin-bottom: 20px;
}
.login_area .login_form .form form .form-group label{
    margin-bottom: 10px;
}
/*=========================

=========================*/

/* FORGETPASSWORD PAGE */

/*=========================

=========================*/
.forgetpassword_area{
    padding: 60px 0;
}
.forgetpassword_area .forgetpassword_form .form {
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 19px 0px;
    padding: 40px 20px;
}
.forgetpassword_area .forgetpassword_form .form h4{
    text-align: center;
    margin: 0;
    font-size: 15px;
    color: #6b7280;
}
.forgetpassword_area .forgetpassword_form .form form {
    margin-top: 20px;
}
.forgetpassword_area .forgetpassword_form .form form button{
    width: 100%;
    background: #007bff;
    border-color: #007bff;
    color: #ffffff;
}
.forgetpassword_area .forgetpassword_form .form form .form-group{
    margin-bottom: 20px;
}
.forgetpassword_area .forgetpassword_form .form form .form-group label{
    margin-bottom: 10px;
}
/*=========================

=========================*/

    /* REGISTER PAGE */

/*=========================

=========================*/
.register_area{
    padding: 60px 0;
}
.register_area .register_form .form {
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 19px 0px;
    padding: 40px 20px;
}
.register_area .register_form .form h4{
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: #6b7280;

}
.register_area .register_form .form p{
    text-align: center;
    margin: 0;
    font-size: 12px;
    color: #6b7280;
    font-weight: 600;
}
.register_area .register_form .form form {
    margin-top: 20px;
}
.register_area .register_form .form form .wrap_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.register_area .register_form .form form .form_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.register_area .register_form .form form .form-group{
    margin-bottom: 20px;
}
.register_area .register_form .form form .form-group label{
    margin-bottom: 10px;
}
/*=========================

=========================*/

    /* XYZ PAGE */

/*=========================

=========================*/
.xyzpage_area{
    padding: 60px 0;
}
.xyzpage_area .xyzpage_wrap p{
    font-weight: 600;
    color: #6b7280;
    font-size: 16px;
}

/*=========================

=========================*/

    /* TERMS PAGE */

/*=========================

=========================*/
.terms_area{
    padding: 60px 0;
}
.terms_area .terms_wrap ul{
    list-style-type: disc;
}
.terms_area .terms_wrap p{
    font-size: 16px;
    font-weight: 600;
    color: #6b7280;
}