/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
}

button:focus {
    outline: 0px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1;
}

.clr {
    clear: both;
}

.default_btn{
    background: #18D2EF;
    color: #FFFFFF;
    text-decoration: none !important;
    border-radius: 5px;
    padding: 5px 20px;
    display: inline-block;
}





/* section head style */

.section_head {
    text-align: center;
}

.section_head h4 {
    color: #0B0A0A;
    font-weight: 600;
    font-size: 24px;
}

.section_head p {
    font-weight: 400;
    color: #0B0A0A;
    font-size: 15px;
}



/* End of common CSS */

/*=========================

    02.HEADER AREA CSS

=========================*/

.navbar-light .navbar-toggler {
    border: none;
    color: #ffffff;
}


.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 105px;
    z-index: 9;
}
.nav-item .nav-link{
    color: #FFFFFF !important;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.nav-item .nav-link.link{
    color: #FFFFFF;
    padding: 5px 20px;
}

.nav-item .nav-link:hover{
    text-decoration: underline;
    color: #FFFFFF !important;
}

/*=========================

    03.BANNER AREA CSS

=========================*/

.banner_area .banner_img{
    background-image: url("../images/banner-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner_area .banner_content{
    padding: 200px 0;
}
.banner_area .banner_content h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner_area .banner_content p{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}
.banner_area .banner_content .btn_wrap{
    display: flex;
    flex-direction: row;
    display: inline;
}

.banner_area .banner_content .btn_wrap input{
    background: transparent;
    border: none;
    color: #FFFFFF;
    width: 220px;
    padding: 0px;
    padding-bottom: 5px;
}

.banner_area .banner_content .btn_wrap input::placeholder{
    color: #FFFFFF;
}

/*=========================

    04.SERVICE AREA CSS

=========================*/

.service_area{
    padding-top: 100px;
    padding-bottom: 100px;
}

.service_area .single_service{
    text-align: center;
    color: #0B0A0A;
    margin-top: 20px;
}
.single_service .service_img{
    background: transparent;
    border: 1px solid #b9b9b9;
    padding: 15px;
    border-radius: 50%;
    display: inline-block;
}
.service_area .single_service h4{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 15px 0;
}
.service_area .single_service p{
    font-size: 15px;
    font-weight: 400;
    padding: 0 40px;
    margin: 0;
}

/*=========================

    05.PACKAGE AREA CSS

=========================*/

.package_area{
    padding: 80px 0;
}

.package_area .places .single_card{
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
}
.package_area .single_card{
    margin: 0 15px;
    margin-top: 20px;
}

.package_area .single_card .card{
    color: #000000;
}
.package_area .single_card .card .card-body .card_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.package_area .single_card .card .card-body h4{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;
}

.package_area .single_card .card .card-body p{
    padding-bottom: 5px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.package_area .single_card .card .card-body h5{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding-top: 5px;
}

.package_area .single_card .card .card-body .date{
    color: #727272;
}

.package_area .single_card .card .card-body .date span{
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
}
.package_area .single_card .card .card-body a{
    display: inline-block;
    margin-left: 190px;
    text-decoration: none;
}

/*=========================

    06.DESTINATION AREA CSS

=========================*/
.destination_area{
    padding: 80px 0;
}

.destination_area .gallery{
    margin-top: 20px;
}

.destination_area .gallery .gallery_img{
    position: relative;
}

.destination_area .gallery .gallery_txt{
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    display: inline-block;
}
.destination_area .gallery .gallery_txt h6{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.destination_area .gallery .gallery_txt p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.destination_area .gallery .gallery_txt p span{
    padding-left: 5px;
}

/*=========================

    07.TESTIMONIALS AREA CSS

=========================*/
.testimonial_area{
    padding: 80px 0;
}

.testimonial_area .single_card{
    margin: 0 15px;
    margin-top: 50px;
}

.testimonial_area .single_card .card{
    position: relative;
}

.testimonial_area .single_card .card .card-img {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: -20%;
    left: 50%;
    transform: translateX(-10%);
}
.testimonial_area .single_card .card .card-body{
    color: #000000;
    padding-top: 60px;
}
.testimonial_area .single_card .card .card-body .card_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.testimonial_area .single_card .card .card-body h5{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding-top: 5px;
}

.testimonial_area .single_card .card .card-body p{
    padding-bottom: 5px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.testimonial_area .single_card .card .card-body h6{
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

/*=========================

    08.OFFER AREA CSS

=========================*/
.offer_area{
    padding: 80px 0;
}
.offer_area .offer_part{
    border: 1px solid #747474;
    padding: 20px 30px;
}
.offer_area .offer_part .offer_content{
    color: #000000;
    display: inline-block;
    margin-top: 100px;
}
.offer_area .offer_part .offer_content h4{
    font-size: 32px;
    font-weight: 500;
}
.offer_area .offer_part .offer_content .subscription{
    border: 1px solid #18D2EF;
    display: inline-block;
    padding-right: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.offer_area .offer_part .offer_content .subscription .subscription_wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.offer_area .offer_part .offer_content .subscription input{
    border: none;
    padding-left: 20px;
}
.offer_area .offer_part .offer_content .subscription input::placeholder{
    color: #9f9f9f;
    font-size: 15px;
    font-weight: 500;
}
.offer_area .offer_part .offer_content .subscription .default_btn{
    padding: 0 20px;
    border-radius: 50px;
    margin: 5px 0;

}
.offer_area .offer_part .offer_content .mobile.default_btn{
    display: none;
}

/*=========================

    09.FOOTER AREA CSS

=========================*/
.footer_area{
    background: #00a3bc;
    padding: 20px 0;
}

.footer_area .footer_left img{
    padding-bottom: 20px;
}
.footer_area .footer_left p{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 15px;
}
.footer_area .footer_left i{
    margin-right: 10px;
}
.footer_area .footer_mid{
    padding-top: 10px;
}
.footer_area .footer_mid h6{
    font-size: 18px;
    font-weight: 600;
}

.footer_area .footer_mid ul{
    padding: 0;
    font-size: 15px;
    font-weight: 400;
}
.footer_area .footer_mid ul li{
    line-height: 25px;
}

.footer_area .footer_right{
    padding-top: 10px;
}
.footer_area .footer_right h6{
    font-size: 18px;
    font-weight: 600;
}
.footer_area .footer_right ul{
    padding: 0;
    padding-top: 10px;
}
.footer_area .footer_right ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}
.footer_area .footer_right ul li i{
    font-size: 15px;
}
.footer_area .footer_right ul li span{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}
/*=========================


=========================*/

    /* SIGN UP PAGE */

/*=========================


=========================*/
.filter {
    filter: blur(3.5px);
    pointer-events: none;
  }
.signup_area {

}
.signup_area .singup_form {
    padding: 25px 30px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 99;
    background: #ffffff;
    width: 30%;
    border-radius: 5px;
}
.signup_area .singup_form h2 {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    text-align: center;
    margin-bottom: 20px;
}
.signup_area .singup_form form{
    color: #727272;
    text-align: center;
}
.signup_area .singup_form form a.forgot {
    text-decoration: none;
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    display: block;
    margin-top: -15px;
    margin-bottom: 20px;
}
.signup_area .singup_form form p {
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    padding-top: 5px;
    margin: 0;
}
.signup_area .singup_form form p.gap_or {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    background: #ffffff;
    display: inline-block;
    padding: 0 8px;
    position: relative;
    margin: 15px;
}
.signup_area .singup_form form p.gap_or::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 80px;
    height: 1px;
    background-color: #b9b9b9;
    z-index: -1;
    transform: translateX(-50%);
}
.signup_area .singup_form form p a{
    text-decoration: none;
    font-weight: 600;
    color: #18d2ef;
}
.signup_area .singup_form form button{
    width: 100%;
    background: #18d2ef;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
}
.signup_area .singup_form form .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #727272;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.signup_area .singup_form form .wrap i{
    padding-right: 10px;
}
.signup_area .singup_form form input{
    width: 100%;
    border: none;
}
.signup_area .singup_form form .social_wrap i{
    margin: 0 10px;
    font-size: 18px;
}
/*=========================


=========================*/

    /* CONTACT PAGE */

/*=========================


=========================*/
.contact_area h2{
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.contact_area form {
    box-shadow: 0px 0px 27px 3px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin-top: 80px;
}
.contact_area form .wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact_area form .wrap input {
    margin-bottom: 20px;
    background: #f4f4f4;
    border: none;
    padding: 10px 15px;
}
.contact_area form textarea{
    background: #f4f4f4;
    border: none;
    padding: 10px 15px;
}
.contact_area form button {
    background: #18d2ef;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
}


